<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
        <label class="label">Mobile No</label>
        <div class="control">
          <input class="input" type="number" placeholder="Text input" formControlName="mobile" required>
        </div>
      </div>
      
      <div class="field">
        <label class="label">Pasword</label>
        <div class="control">
          <input class="input" type="password" placeholder="Text input" formControlName="password" required>
        </div>
      </div>
      
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit" [disabled]="!loginForm.valid">Submit</button>
        </div>
      </div>
  </form>
</div>