<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"></a>

      <a routerLink="/test1"  class="navbar-item">Test1</a>
      <a routerLink="test2"  class="navbar-item">Test2</a>
      <a routerLink="/test3"  class="navbar-item">Test3</a>
      <a routerLink="/test4"  class="navbar-item">Test4</a>
      <a routerLink="/test5"  class="navbar-item">Complete</a>
      <a routerLink="/form"  class="navbar-item">Reactive Form</a>
      
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary">
          <strong>{{message}}</strong>
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="myContainer">
  <router-outlet></router-outlet>
</div>
